
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
        <div {{action navigateHome}} class="navbar-brand">Bhaktapur</div>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li {{bindAttr class="routeIsHome:active"}}><a {{action navigateHome}}>Home</a></li>
            <li {{bindAttr class="routeIsAbout:active"}}><a {{action navigateAbout}}>About</a></li>
            <li {{bindAttr class="routeIsProjects:active"}}><a {{action navigateProjects}}>Projects</a></li>
            <li {{bindAttr class="routeIsOrgs:active"}}><a {{action navigateOrgs}}>Orgs</a></li>
            <li {{bindAttr class="routeIsAccount:active"}}><a {{action navigateAccount}}>Account</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

{{outlet}}

<hr class="featurette-divider">

<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>&copy; 2013 Kumavis Tree &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

